// jQuery
script(src="/libs/jquery/dist/jquery.min.js")
// jQuery Easing
script(src="/libs/jquery-easing/jquery.easing.1.3.js")
// Bootstrap
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
// Waypoints
script(src="/libs/waypoints/lib/jquery.waypoints.min.js")
// Flexslider
script(src="/libs/flexslider/jquery.flexslider-min.js")
// MAIN JS
script(src="/js/main.js")
// Google Map
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false")
script(src="/js/google_map.js")