#rspt-page
  a.js-rspt-nav-toggle.rspt-nav-toggle(href="/")
    i
  aside#rspt-aside.border.js-fullheight(role="complementary")
    h1#rspt-logo
      a(href='/') RSPT
    span#rspt-logo-title 留学生活第一站

    nav#rspt-main-menu(role="navigation")
      ul
        li.rspt_item
          a(href="/") RSPT
        li.rspt_item
          a(href="/article") 文章精选
        li.rspt_item
          a(href="/lifechannel") 生活视频
        li.rspt_item
          a(href="/interview") 节目访谈
        li.rspt_item
          a(href="/thinking") 思想碰撞
        li.rspt_item
          a(href="/developer") 关注开发者
    .rspt-footer
      p
        small Copyright © 2017 rspt-LuYiBuddha. All rights reserved.
      ul
        li
          a(href="http://www.5hb.org/siteinfo/16583.html")
            i.icon-wechat
        li
          a(href="http://weibo.com/abroadnews?is_hot=1")
            i.icon-weibo
        li
          a(href="https://www.toutiao.com/search/?keyword=留学")
            i.icon-jinritoutiao
        li
          a(href="https://www.youtube.com/results?search_query=study+abroad")
            i.icon-youtube