// Place favicon.ico and apple-touch-icon.png in the root directory
link(rel="shortcut icon", href="/images/favicon.ico")
link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700", rel="stylesheet")
// Animate.css
link(rel="stylesheet", href="/libs/animate/animate.css")
// Icomoon Icon Fonts
link(rel="stylesheet", href="/libs/icomoon/icomoon.css")
// Bootstrap
link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
// Flexslider
link(rel="stylesheet", href="/libs/flexslider/flexslider.css")
// Theme style
link(rel="stylesheet", href="/libs/style/style.css")
// Modernizr JS
script(src="/libs/modernizr/modernizr-2.6.2.min.js")
// FOR IE9 below
//- if lt IE 9
//- script(src="/libs/respond/respond.min.js")
