extends ../layout

block content
 #rspt-main
  .rspt-narrow-content
   .col-md-6.animate-box(data-animate-effect="fadeInLeft")
    img.rspt-heading-detail(src='#{article_detail.content_address1}')
    img.rspt-heading-detail(src='#{article_detail.content_address2}')
