extends ../layout

block content
 #rspt-main
  .rspt-more-contact
    .rspt-narrow-content
      .row.row-bottom-padded-md
        .col-md-12.animate-box(data-animate-effect="fadeInLeft")
          p.developer-content 搭建 RSPT | 留学生活网站的初衷是作为留学在韩国的我每天其实都在思考：留学的目的和意义是什么？计算机专业的我在完成课业之外一直在学习各种软件编程知识和实践，想自己写一个网站，那以什么内容做网站呢？结合自己自身的情况，就搭建了一个关于留学的网站，想通过把各个国家的留学生们的生活和思考都集中起来，浏览、学习和了解；其目的就是让我们海外游子从他人生活中找到自己的价值和目标。
          p.developer-content 我认为留学是一场关于自我的旅行。最好的教育是能够催化自己、帮助别人自我觉醒的过程。如果你觉醒了，你有足够强的动力和导航能力，加上一定基本的技能，你可以学回任何新的东西。

      .row.contanct
        .col-md-4
          .rspt-feature.rspt-feature-sm.animate-box(data-animate-effect="fadeInLeft")
            .rspt-icon
              i.icon-mail
            .rspt-text
              p loveweihaitong@foxmail.com
        .col-md-4
          .rspt-feature.rspt-feature-sm.animate-box(data-animate-effect="fadeInLeft")
            .rspt-icon
              i.icon-map
            .rspt-text
              p Chonnam National University,Korea.
        .col-md-4
          .rspt-feature.rspt-feature-sm.animate-box(data-animate-effect="fadeInLeft")
            .rspt-icon
              i.icon-wechat
            .rspt-text
              p wht390437101
  .animate-box(data-animate-effect="fadeInLeft")
    #map

