extends ../layout

block content
 #rspt-main
  .rspt-narrow-content
    .row.row-bottom-padded-md
      .col-md-6.animate-box(data-animate-effect="fadeInLeft")
        embed.lifeVideo(src="#{life_detail.lifeVideo}",allowFullScreen="true",qulity="best",align="middle",type="application/x-shockwave-flash")
    .col-md-6.animate-box(data-animate-effect="fadeInLeft")
    h2.rspt-lifeVideo-detail #{life_detail.title}
    p.rspt-lifeVideo-content #{life_detail.info}
