doctype html
//if lt IE 7
html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
html.no-js.lt-ie9.lt-ie8
//if IE 8
html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title RSPT丨留学生活第一站
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="study abroad life")
    meta(name="keywords", content="RSPT,留学生活,视频,留学文章,留学节目,留学利弊")
    include ./includes/head
  body
    include ./includes/header
    block content
    include ./includes/body-bottom
